{"swagger": "2.0", "info": {"title": "ERP API", "description": "ERP系统 API文档", "version": "v1"}, "host": "yagtpotihswf.sealosbja.site", "schemes": ["https"], "basePath": "/api", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"Bearer": {"type": "apiKey", "name": "Authorization", "in": "header"}}, "security": [{"Bearer": []}], "paths": {"/design-files/": {"get": {"operationId": "design-files_list", "description": "设计稿文件视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/DesignFile"}}}}, "tags": ["design-files"]}, "post": {"operationId": "design-files_create", "description": "设计稿文件视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignFile"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignFile"}}}, "tags": ["design-files"]}, "parameters": []}, "/design-files/upload/": {"post": {"operationId": "design-files_upload_file", "description": "上传设计稿文件", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignFile"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignFile"}}}, "tags": ["design-files"]}, "parameters": []}, "/design-files/{id}/": {"get": {"operationId": "design-files_read", "description": "设计稿文件视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DesignFile"}}}, "tags": ["design-files"]}, "put": {"operationId": "design-files_update", "description": "设计稿文件视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignFile"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DesignFile"}}}, "tags": ["design-files"]}, "patch": {"operationId": "design-files_partial_update", "description": "设计稿文件视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignFile"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DesignFile"}}}, "tags": ["design-files"]}, "delete": {"operationId": "design-files_delete", "description": "设计稿文件视图集", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["design-files"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 设计稿文件.", "required": true, "type": "integer"}]}, "/design-files/{id}/approve/": {"post": {"operationId": "design-files_approve", "description": "审批设计稿", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignFile"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignFile"}}}, "tags": ["design-files"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 设计稿文件.", "required": true, "type": "integer"}]}, "/design-files/{id}/publish/": {"post": {"operationId": "design-files_publish", "description": "发布设计稿", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignFile"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignFile"}}}, "tags": ["design-files"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 设计稿文件.", "required": true, "type": "integer"}]}, "/design-files/{id}/reject/": {"post": {"operationId": "design-files_reject", "description": "拒绝设计稿", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignFile"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignFile"}}}, "tags": ["design-files"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 设计稿文件.", "required": true, "type": "integer"}]}, "/design/files/": {"get": {"operationId": "design_files_list", "description": "设计稿文件视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/DesignFile"}}}}, "tags": ["design"]}, "post": {"operationId": "design_files_create", "description": "设计稿文件视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignFile"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignFile"}}}, "tags": ["design"]}, "parameters": []}, "/design/files/upload/": {"post": {"operationId": "design_files_upload_file", "description": "上传设计稿文件", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignFile"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignFile"}}}, "tags": ["design"]}, "parameters": []}, "/design/files/{id}/": {"get": {"operationId": "design_files_read", "description": "设计稿文件视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DesignFile"}}}, "tags": ["design"]}, "put": {"operationId": "design_files_update", "description": "设计稿文件视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignFile"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DesignFile"}}}, "tags": ["design"]}, "patch": {"operationId": "design_files_partial_update", "description": "设计稿文件视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignFile"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DesignFile"}}}, "tags": ["design"]}, "delete": {"operationId": "design_files_delete", "description": "设计稿文件视图集", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["design"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 设计稿文件.", "required": true, "type": "integer"}]}, "/design/files/{id}/approve/": {"post": {"operationId": "design_files_approve", "description": "审批设计稿", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignFile"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignFile"}}}, "tags": ["design"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 设计稿文件.", "required": true, "type": "integer"}]}, "/design/files/{id}/publish/": {"post": {"operationId": "design_files_publish", "description": "发布设计稿", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignFile"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignFile"}}}, "tags": ["design"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 设计稿文件.", "required": true, "type": "integer"}]}, "/design/files/{id}/reject/": {"post": {"operationId": "design_files_reject", "description": "拒绝设计稿", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignFile"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignFile"}}}, "tags": ["design"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 设计稿文件.", "required": true, "type": "integer"}]}, "/design/reviews/": {"get": {"operationId": "design_reviews_list", "description": "设计稿审核视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/DesignReview"}}}}, "tags": ["design"]}, "post": {"operationId": "design_reviews_create", "description": "设计稿审核视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignReview"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignReview"}}}, "tags": ["design"]}, "parameters": []}, "/design/reviews/{id}/": {"get": {"operationId": "design_reviews_read", "description": "设计稿审核视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DesignReview"}}}, "tags": ["design"]}, "put": {"operationId": "design_reviews_update", "description": "设计稿审核视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignReview"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DesignReview"}}}, "tags": ["design"]}, "patch": {"operationId": "design_reviews_partial_update", "description": "设计稿审核视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignReview"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DesignReview"}}}, "tags": ["design"]}, "delete": {"operationId": "design_reviews_delete", "description": "设计稿审核视图集", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["design"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 设计稿审核.", "required": true, "type": "integer"}]}, "/design/samples/": {"get": {"operationId": "design_samples_list", "description": "设计样品视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/DesignSample"}}}}, "tags": ["design"]}, "post": {"operationId": "design_samples_create", "description": "设计样品视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignSample"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignSample"}}}, "tags": ["design"]}, "parameters": []}, "/design/samples/{id}/": {"get": {"operationId": "design_samples_read", "description": "设计样品视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DesignSample"}}}, "tags": ["design"]}, "put": {"operationId": "design_samples_update", "description": "设计样品视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignSample"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DesignSample"}}}, "tags": ["design"]}, "patch": {"operationId": "design_samples_partial_update", "description": "设计样品视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignSample"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DesignSample"}}}, "tags": ["design"]}, "delete": {"operationId": "design_samples_delete", "description": "设计样品视图集", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["design"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 设计样品.", "required": true, "type": "integer"}]}, "/design/templates/": {"get": {"operationId": "design_templates_list", "description": "设计模板视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/DesignTemplate"}}}}, "tags": ["design"]}, "post": {"operationId": "design_templates_create", "description": "设计模板视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignTemplate"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignTemplate"}}}, "tags": ["design"]}, "parameters": []}, "/design/templates/{id}/": {"get": {"operationId": "design_templates_read", "description": "设计模板视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DesignTemplate"}}}, "tags": ["design"]}, "put": {"operationId": "design_templates_update", "description": "设计模板视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignTemplate"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DesignTemplate"}}}, "tags": ["design"]}, "patch": {"operationId": "design_templates_partial_update", "description": "设计模板视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignTemplate"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DesignTemplate"}}}, "tags": ["design"]}, "delete": {"operationId": "design_templates_delete", "description": "设计模板视图集", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["design"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 设计模板.", "required": true, "type": "integer"}]}, "/design/versions/": {"get": {"operationId": "design_versions_list", "description": "设计稿版本视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/DesignVersion"}}}}, "tags": ["design"]}, "post": {"operationId": "design_versions_create", "description": "设计稿版本视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignVersion"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/DesignVersion"}}}, "tags": ["design"]}, "parameters": []}, "/design/versions/{id}/": {"get": {"operationId": "design_versions_read", "description": "设计稿版本视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DesignVersion"}}}, "tags": ["design"]}, "put": {"operationId": "design_versions_update", "description": "设计稿版本视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignVersion"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DesignVersion"}}}, "tags": ["design"]}, "patch": {"operationId": "design_versions_partial_update", "description": "设计稿版本视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DesignVersion"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/DesignVersion"}}}, "tags": ["design"]}, "delete": {"operationId": "design_versions_delete", "description": "设计稿版本视图集", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["design"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 设计稿版本.", "required": true, "type": "integer"}]}, "/developer/api-metrics/": {"get": {"operationId": "developer_api-metrics_list", "description": "接口指标视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/APIMetric"}}}}, "tags": ["developer"]}, "post": {"operationId": "developer_api-metrics_create", "description": "接口指标视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/APIMetric"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/APIMetric"}}}, "tags": ["developer"]}, "parameters": []}, "/developer/api-metrics/statistics/": {"get": {"operationId": "developer_api-metrics_statistics", "description": "获取API调用统计信息", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/APIMetric"}}}}, "tags": ["developer"]}, "parameters": []}, "/developer/api-metrics/{id}/": {"get": {"operationId": "developer_api-metrics_read", "description": "接口指标视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/APIMetric"}}}, "tags": ["developer"]}, "put": {"operationId": "developer_api-metrics_update", "description": "接口指标视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/APIMetric"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/APIMetric"}}}, "tags": ["developer"]}, "patch": {"operationId": "developer_api-metrics_partial_update", "description": "接口指标视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/APIMetric"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/APIMetric"}}}, "tags": ["developer"]}, "delete": {"operationId": "developer_api-metrics_delete", "description": "接口指标视图集", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["developer"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this API调用指标.", "required": true, "type": "integer"}]}, "/developer/config-items/": {"get": {"operationId": "developer_config-items_list", "description": "配置项视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ConfigItem"}}}}, "tags": ["developer"]}, "post": {"operationId": "developer_config-items_create", "description": "配置项视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ConfigItem"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ConfigItem"}}}, "tags": ["developer"]}, "parameters": []}, "/developer/config-items/by_environment/": {"get": {"operationId": "developer_config-items_by_environment", "description": "按环境分组获取配置", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ConfigItem"}}}}, "tags": ["developer"]}, "parameters": []}, "/developer/config-items/{id}/": {"get": {"operationId": "developer_config-items_read", "description": "配置项视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ConfigItem"}}}, "tags": ["developer"]}, "put": {"operationId": "developer_config-items_update", "description": "配置项视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ConfigItem"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ConfigItem"}}}, "tags": ["developer"]}, "patch": {"operationId": "developer_config-items_partial_update", "description": "配置项视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ConfigItem"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ConfigItem"}}}, "tags": ["developer"]}, "delete": {"operationId": "developer_config-items_delete", "description": "配置项视图集", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["developer"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 配置项.", "required": true, "type": "integer"}]}, "/developer/config-items/{id}/reveal/": {"get": {"operationId": "developer_config-items_reveal", "description": "显示敏感配置的实际值（需要特殊权限）", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ConfigItem"}}}, "tags": ["developer"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 配置项.", "required": true, "type": "integer"}]}, "/developer/system-logs/": {"get": {"operationId": "developer_system-logs_list", "description": "系统日志视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/SystemLog"}}}}, "tags": ["developer"]}, "post": {"operationId": "developer_system-logs_create", "description": "系统日志视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SystemLog"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/SystemLog"}}}, "tags": ["developer"]}, "parameters": []}, "/developer/system-logs/summary/": {"get": {"operationId": "developer_system-logs_summary", "description": "获取日志汇总信息", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/SystemLog"}}}}, "tags": ["developer"]}, "parameters": []}, "/developer/system-logs/{id}/": {"get": {"operationId": "developer_system-logs_read", "description": "系统日志视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SystemLog"}}}, "tags": ["developer"]}, "put": {"operationId": "developer_system-logs_update", "description": "系统日志视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SystemLog"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SystemLog"}}}, "tags": ["developer"]}, "patch": {"operationId": "developer_system-logs_partial_update", "description": "系统日志视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SystemLog"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SystemLog"}}}, "tags": ["developer"]}, "delete": {"operationId": "developer_system-logs_delete", "description": "系统日志视图集", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["developer"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 系统日志.", "required": true, "type": "integer"}]}, "/developer/system-monitor/": {"get": {"operationId": "developer_system-monitor_list", "description": "系统监控视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/SystemMonitor"}}}}, "tags": ["developer"]}, "post": {"operationId": "developer_system-monitor_create", "description": "系统监控视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SystemMonitor"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/SystemMonitor"}}}, "tags": ["developer"]}, "parameters": []}, "/developer/system-monitor/current/": {"get": {"operationId": "developer_system-monitor_current", "description": "获取当前系统状态", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/SystemMonitor"}}}}, "tags": ["developer"]}, "parameters": []}, "/developer/system-monitor/summary/": {"get": {"operationId": "developer_system-monitor_summary", "description": "获取系统监控数据汇总", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/SystemMonitor"}}}}, "tags": ["developer"]}, "parameters": []}, "/developer/system-monitor/{id}/": {"get": {"operationId": "developer_system-monitor_read", "description": "系统监控视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SystemMonitor"}}}, "tags": ["developer"]}, "put": {"operationId": "developer_system-monitor_update", "description": "系统监控视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SystemMonitor"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SystemMonitor"}}}, "tags": ["developer"]}, "patch": {"operationId": "developer_system-monitor_partial_update", "description": "系统监控视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SystemMonitor"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SystemMonitor"}}}, "tags": ["developer"]}, "delete": {"operationId": "developer_system-monitor_delete", "description": "系统监控视图集", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["developer"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 系统监控数据.", "required": true, "type": "integer"}]}, "/developer/websocket-messages/": {"get": {"operationId": "developer_websocket-messages_list", "description": "消息管理视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/WebSocketMessage"}}}}, "tags": ["developer"]}, "post": {"operationId": "developer_websocket-messages_create", "description": "消息管理视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/WebSocketMessage"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/WebSocketMessage"}}}, "tags": ["developer"]}, "parameters": []}, "/developer/websocket-messages/by_session/": {"get": {"operationId": "developer_websocket-messages_by_session", "description": "获取指定会话的消息", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/WebSocketMessage"}}}}, "tags": ["developer"]}, "parameters": []}, "/developer/websocket-messages/send_test/": {"post": {"operationId": "developer_websocket-messages_send_test", "description": "发送测试WebSocket消息", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/WebSocketMessage"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/WebSocketMessage"}}}, "tags": ["developer"]}, "parameters": []}, "/developer/websocket-messages/{id}/": {"get": {"operationId": "developer_websocket-messages_read", "description": "消息管理视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/WebSocketMessage"}}}, "tags": ["developer"]}, "put": {"operationId": "developer_websocket-messages_update", "description": "消息管理视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/WebSocketMessage"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/WebSocketMessage"}}}, "tags": ["developer"]}, "patch": {"operationId": "developer_websocket-messages_partial_update", "description": "消息管理视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/WebSocketMessage"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/WebSocketMessage"}}}, "tags": ["developer"]}, "delete": {"operationId": "developer_websocket-messages_delete", "description": "消息管理视图集", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["developer"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this WebSocket消息.", "required": true, "type": "integer"}]}, "/developer/websocket-sessions/": {"get": {"operationId": "developer_websocket-sessions_list", "description": "会话管理视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/WebSocketSession"}}}}, "tags": ["developer"]}, "post": {"operationId": "developer_websocket-sessions_create", "description": "会话管理视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/WebSocketSession"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/WebSocketSession"}}}, "tags": ["developer"]}, "parameters": []}, "/developer/websocket-sessions/active/": {"get": {"operationId": "developer_websocket-sessions_active", "description": "获取活跃的WebSocket会话", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/WebSocketSession"}}}}, "tags": ["developer"]}, "parameters": []}, "/developer/websocket-sessions/{id}/": {"get": {"operationId": "developer_websocket-sessions_read", "description": "会话管理视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/WebSocketSession"}}}, "tags": ["developer"]}, "put": {"operationId": "developer_websocket-sessions_update", "description": "会话管理视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/WebSocketSession"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/WebSocketSession"}}}, "tags": ["developer"]}, "patch": {"operationId": "developer_websocket-sessions_partial_update", "description": "会话管理视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/WebSocketSession"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/WebSocketSession"}}}, "tags": ["developer"]}, "delete": {"operationId": "developer_websocket-sessions_delete", "description": "会话管理视图集", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["developer"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this WebSocket会话.", "required": true, "type": "integer"}]}, "/developer/websocket-sessions/{id}/close/": {"post": {"operationId": "developer_websocket-sessions_close", "description": "关闭指定的WebSocket会话", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/WebSocketSession"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/WebSocketSession"}}}, "tags": ["developer"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this WebSocket会话.", "required": true, "type": "integer"}]}, "/equipment/equipment-fault/": {"get": {"operationId": "equipment_equipment-fault_list", "description": "故障记录视图集\n提供故障记录的增删改查功能", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/FaultRecord"}}}}, "tags": ["equipment"]}, "post": {"operationId": "equipment_equipment-fault_create", "description": "故障记录视图集\n提供故障记录的增删改查功能", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/FaultRecord"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/FaultRecord"}}}, "tags": ["equipment"]}, "parameters": []}, "/equipment/equipment-fault/statistics/": {"get": {"operationId": "equipment_equipment-fault_statistics", "description": "获取故障统计信息", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/FaultRecord"}}}}, "tags": ["equipment"]}, "parameters": []}, "/equipment/equipment-fault/{id}/": {"get": {"operationId": "equipment_equipment-fault_read", "description": "故障记录视图集\n提供故障记录的增删改查功能", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/FaultRecord"}}}, "tags": ["equipment"]}, "put": {"operationId": "equipment_equipment-fault_update", "description": "故障记录视图集\n提供故障记录的增删改查功能", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/FaultRecord"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/FaultRecord"}}}, "tags": ["equipment"]}, "patch": {"operationId": "equipment_equipment-fault_partial_update", "description": "故障记录视图集\n提供故障记录的增删改查功能", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/FaultRecord"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/FaultRecord"}}}, "tags": ["equipment"]}, "delete": {"operationId": "equipment_equipment-fault_delete", "description": "故障记录视图集\n提供故障记录的增删改查功能", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["equipment"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 故障记录.", "required": true, "type": "integer"}]}, "/equipment/equipment-fault/{id}/assign/": {"post": {"operationId": "equipment_equipment-fault_assign", "description": "分配故障处理人员", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/FaultRecord"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/FaultRecord"}}}, "tags": ["equipment"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 故障记录.", "required": true, "type": "integer"}]}, "/equipment/equipment-fault/{id}/update_status/": {"post": {"operationId": "equipment_equipment-fault_update_status", "description": "更新故障记录状态", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/FaultRecord"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/FaultRecord"}}}, "tags": ["equipment"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 故障记录.", "required": true, "type": "integer"}]}, "/equipment/equipment-maintenance/": {"get": {"operationId": "equipment_equipment-maintenance_list", "description": "设备维护记录视图集\n提供维护记录的增删改查功能", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/MaintenanceRecord"}}}}, "tags": ["equipment"]}, "post": {"operationId": "equipment_equipment-maintenance_create", "description": "设备维护记录视图集\n提供维护记录的增删改查功能", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/MaintenanceRecord"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/MaintenanceRecord"}}}, "tags": ["equipment"]}, "parameters": []}, "/equipment/equipment-maintenance/{id}/": {"get": {"operationId": "equipment_equipment-maintenance_read", "description": "设备维护记录视图集\n提供维护记录的增删改查功能", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/MaintenanceRecord"}}}, "tags": ["equipment"]}, "put": {"operationId": "equipment_equipment-maintenance_update", "description": "设备维护记录视图集\n提供维护记录的增删改查功能", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/MaintenanceRecord"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/MaintenanceRecord"}}}, "tags": ["equipment"]}, "patch": {"operationId": "equipment_equipment-maintenance_partial_update", "description": "设备维护记录视图集\n提供维护记录的增删改查功能", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/MaintenanceRecord"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/MaintenanceRecord"}}}, "tags": ["equipment"]}, "delete": {"operationId": "equipment_equipment-maintenance_delete", "description": "设备维护记录视图集\n提供维护记录的增删改查功能", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["equipment"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 维护记录.", "required": true, "type": "integer"}]}, "/equipment/equipment/": {"get": {"operationId": "equipment_equipment_list", "description": "设备管理视图集\n提供设备的增删改查功能", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Equipment"}}}}, "tags": ["equipment"]}, "post": {"operationId": "equipment_equipment_create", "description": "设备管理视图集\n提供设备的增删改查功能", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Equipment"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Equipment"}}}, "tags": ["equipment"]}, "parameters": []}, "/equipment/equipment/{id}/": {"get": {"operationId": "equipment_equipment_read", "description": "设备管理视图集\n提供设备的增删改查功能", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Equipment"}}}, "tags": ["equipment"]}, "put": {"operationId": "equipment_equipment_update", "description": "设备管理视图集\n提供设备的增删改查功能", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Equipment"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Equipment"}}}, "tags": ["equipment"]}, "patch": {"operationId": "equipment_equipment_partial_update", "description": "设备管理视图集\n提供设备的增删改查功能", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Equipment"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Equipment"}}}, "tags": ["equipment"]}, "delete": {"operationId": "equipment_equipment_delete", "description": "设备管理视图集\n提供设备的增删改查功能", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["equipment"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 设备.", "required": true, "type": "integer"}]}, "/inventory/statistics/": {"get": {"operationId": "inventory_statistics", "description": "获取库存统计数据", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["inventory"]}, "parameters": []}, "/materials/inventory/": {"get": {"operationId": "materials_inventory_list", "description": "库存视图集\n提供库存的增删改查功能", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Inventory"}}}}, "tags": ["materials"]}, "post": {"operationId": "materials_inventory_create", "description": "库存视图集\n提供库存的增删改查功能", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Inventory"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Inventory"}}}, "tags": ["materials"]}, "parameters": []}, "/materials/inventory/{id}/": {"get": {"operationId": "materials_inventory_read", "description": "库存视图集\n提供库存的增删改查功能", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/InventoryDetail"}}}, "tags": ["materials"]}, "put": {"operationId": "materials_inventory_update", "description": "库存视图集\n提供库存的增删改查功能", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Inventory"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Inventory"}}}, "tags": ["materials"]}, "patch": {"operationId": "materials_inventory_partial_update", "description": "库存视图集\n提供库存的增删改查功能", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Inventory"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Inventory"}}}, "tags": ["materials"]}, "delete": {"operationId": "materials_inventory_delete", "description": "库存视图集\n提供库存的增删改查功能", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["materials"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 库存.", "required": true, "type": "integer"}]}, "/materials/locations/": {"get": {"operationId": "materials_locations_list", "description": "库位视图集\n提供库位的增删改查功能", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Location"}}}}, "tags": ["materials"]}, "post": {"operationId": "materials_locations_create", "description": "库位视图集\n提供库位的增删改查功能", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Location"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Location"}}}, "tags": ["materials"]}, "parameters": []}, "/materials/locations/{id}/": {"get": {"operationId": "materials_locations_read", "description": "库位视图集\n提供库位的增删改查功能", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Location"}}}, "tags": ["materials"]}, "put": {"operationId": "materials_locations_update", "description": "库位视图集\n提供库位的增删改查功能", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Location"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Location"}}}, "tags": ["materials"]}, "patch": {"operationId": "materials_locations_partial_update", "description": "库位视图集\n提供库位的增删改查功能", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Location"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Location"}}}, "tags": ["materials"]}, "delete": {"operationId": "materials_locations_delete", "description": "库位视图集\n提供库位的增删改查功能", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["materials"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 库位.", "required": true, "type": "integer"}]}, "/materials/materials/": {"get": {"operationId": "materials_materials_list", "description": "物料视图集\n提供物料的增删改查功能", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Material"}}}}, "tags": ["materials"]}, "post": {"operationId": "materials_materials_create", "description": "物料视图集\n提供物料的增删改查功能", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Material"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Material"}}}, "tags": ["materials"]}, "parameters": []}, "/materials/materials/{id}/": {"get": {"operationId": "materials_materials_read", "description": "物料视图集\n提供物料的增删改查功能", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/materials.MaterialDetail"}}}, "tags": ["materials"]}, "put": {"operationId": "materials_materials_update", "description": "物料视图集\n提供物料的增删改查功能", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Material"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Material"}}}, "tags": ["materials"]}, "patch": {"operationId": "materials_materials_partial_update", "description": "物料视图集\n提供物料的增删改查功能", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Material"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Material"}}}, "tags": ["materials"]}, "delete": {"operationId": "materials_materials_delete", "description": "物料视图集\n提供物料的增删改查功能", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["materials"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 物料.", "required": true, "type": "integer"}]}, "/materials/procurement/orders/": {"get": {"operationId": "materials_procurement_orders_list", "description": "采购订单视图集\n提供采购订单的增删改查功能", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ProcurementOrder"}}}}, "tags": ["materials"]}, "post": {"operationId": "materials_procurement_orders_create", "description": "创建采购订单\n接收参数：\n- supplierId: 供应商ID\n- items: 采购项目列表，每个项目包含materialId, quantity, unitPrice\n- expectedDeliveryDate: 预计交付日期\n- paymentTerms: 付款条件\n- remark: 备注", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProcurementOrder"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ProcurementOrder"}}}, "tags": ["materials"]}, "parameters": []}, "/materials/procurement/orders/{id}/": {"get": {"operationId": "materials_procurement_orders_read", "description": "采购订单视图集\n提供采购订单的增删改查功能", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProcurementOrderDetail"}}}, "tags": ["materials"]}, "put": {"operationId": "materials_procurement_orders_update", "description": "采购订单视图集\n提供采购订单的增删改查功能", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProcurementOrder"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProcurementOrder"}}}, "tags": ["materials"]}, "patch": {"operationId": "materials_procurement_orders_partial_update", "description": "采购订单视图集\n提供采购订单的增删改查功能", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProcurementOrder"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProcurementOrder"}}}, "tags": ["materials"]}, "delete": {"operationId": "materials_procurement_orders_delete", "description": "采购订单视图集\n提供采购订单的增删改查功能", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["materials"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 采购订单.", "required": true, "type": "integer"}]}, "/materials/procurement/orders/{id}/receipt/": {"post": {"operationId": "materials_procurement_orders_receipt", "description": "记录采购收货\n接收参数：\n- items: 收货项目列表，每个项目包含materialId, quantity, qualityStatus\n- receiptDate: 收货日期\n- remark: 备注", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProcurementOrder"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ProcurementOrder"}}}, "tags": ["materials"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 采购订单.", "required": true, "type": "integer"}]}, "/materials/procurement/orders/{id}/status/": {"put": {"operationId": "materials_procurement_orders_status", "description": "更新采购订单状态\n接收参数：\n- status: 新状态\n- remark: 备注", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProcurementOrder"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProcurementOrder"}}}, "tags": ["materials"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 采购订单.", "required": true, "type": "integer"}]}, "/materials/procurement/requirements/": {"get": {"operationId": "materials_procurement_requirements_list", "description": "采购需求视图集\n提供采购需求的增删改查功能", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ProcurementRequirement"}}}}, "tags": ["materials"]}, "post": {"operationId": "materials_procurement_requirements_create", "description": "采购需求视图集\n提供采购需求的增删改查功能", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProcurementRequirement"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ProcurementRequirement"}}}, "tags": ["materials"]}, "parameters": []}, "/materials/procurement/requirements/{id}/": {"get": {"operationId": "materials_procurement_requirements_read", "description": "采购需求视图集\n提供采购需求的增删改查功能", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProcurementRequirement"}}}, "tags": ["materials"]}, "put": {"operationId": "materials_procurement_requirements_update", "description": "采购需求视图集\n提供采购需求的增删改查功能", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProcurementRequirement"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProcurementRequirement"}}}, "tags": ["materials"]}, "patch": {"operationId": "materials_procurement_requirements_partial_update", "description": "采购需求视图集\n提供采购需求的增删改查功能", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProcurementRequirement"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProcurementRequirement"}}}, "tags": ["materials"]}, "delete": {"operationId": "materials_procurement_requirements_delete", "description": "采购需求视图集\n提供采购需求的增删改查功能", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["materials"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 采购需求.", "required": true, "type": "integer"}]}, "/materials/suppliers/": {"get": {"operationId": "materials_suppliers_list", "description": "供应商视图集\n提供供应商的增删改查功能", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/materials.SupplierSerializer"}}}}, "tags": ["materials"]}, "post": {"operationId": "materials_suppliers_create", "description": "供应商视图集\n提供供应商的增删改查功能", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/materials.SupplierSerializer"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/materials.SupplierSerializer"}}}, "tags": ["materials"]}, "parameters": []}, "/materials/suppliers/{id}/": {"get": {"operationId": "materials_suppliers_read", "description": "供应商视图集\n提供供应商的增删改查功能", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/materials.SupplierDetailSerializer"}}}, "tags": ["materials"]}, "put": {"operationId": "materials_suppliers_update", "description": "供应商视图集\n提供供应商的增删改查功能", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/materials.SupplierSerializer"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/materials.SupplierSerializer"}}}, "tags": ["materials"]}, "patch": {"operationId": "materials_suppliers_partial_update", "description": "供应商视图集\n提供供应商的增删改查功能", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/materials.SupplierSerializer"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/materials.SupplierSerializer"}}}, "tags": ["materials"]}, "delete": {"operationId": "materials_suppliers_delete", "description": "供应商视图集\n提供供应商的增删改查功能", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["materials"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 供应商.", "required": true, "type": "integer"}]}, "/notifications/": {"get": {"operationId": "notifications_list", "description": "重写list方法，返回前端期望的数据格式", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Notice"}}}}, "tags": ["notifications"]}, "post": {"operationId": "notifications_create", "description": "系统公告别名视图集，返回前端期望的数据格式", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Notice"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Notice"}}}, "tags": ["notifications"]}, "parameters": []}, "/notifications/active/": {"get": {"operationId": "notifications_active", "description": "获取当前有效的公告（已发布且未过期）", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Notice"}}}}, "tags": ["notifications"]}, "parameters": []}, "/notifications/unread/": {"get": {"operationId": "notifications_unread", "description": "获取用户未读公告", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Notice"}}}}, "tags": ["notifications"]}, "parameters": []}, "/notifications/{id}/": {"get": {"operationId": "notifications_read", "description": "系统公告别名视图集，返回前端期望的数据格式", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Notice"}}}, "tags": ["notifications"]}, "put": {"operationId": "notifications_update", "description": "系统公告别名视图集，返回前端期望的数据格式", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Notice"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Notice"}}}, "tags": ["notifications"]}, "patch": {"operationId": "notifications_partial_update", "description": "系统公告别名视图集，返回前端期望的数据格式", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Notice"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Notice"}}}, "tags": ["notifications"]}, "delete": {"operationId": "notifications_delete", "description": "系统公告别名视图集，返回前端期望的数据格式", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["notifications"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 系统公告.", "required": true, "type": "integer"}]}, "/notifications/{id}/mark_as_read/": {"post": {"operationId": "notifications_mark_as_read", "description": "标记公告为已读", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Notice"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Notice"}}}, "tags": ["notifications"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 系统公告.", "required": true, "type": "integer"}]}, "/orders/": {"get": {"operationId": "orders_list", "description": "重写list方法，返回前端期望的数据格式", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Order"}}}}, "tags": ["orders"]}, "post": {"operationId": "orders_create", "description": "订单别名视图集，返回前端期望的数据格式", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Order"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Order"}}}, "tags": ["orders"]}, "parameters": []}, "/orders/statistics/": {"get": {"operationId": "orders_statistics", "description": "获取订单统计数据", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Order"}}}}, "tags": ["orders"]}, "parameters": []}, "/orders/{id}/": {"get": {"operationId": "orders_read", "description": "订单别名视图集，返回前端期望的数据格式", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Order"}}}, "tags": ["orders"]}, "put": {"operationId": "orders_update", "description": "订单别名视图集，返回前端期望的数据格式", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Order"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Order"}}}, "tags": ["orders"]}, "patch": {"operationId": "orders_partial_update", "description": "订单别名视图集，返回前端期望的数据格式", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Order"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Order"}}}, "tags": ["orders"]}, "delete": {"operationId": "orders_delete", "description": "订单别名视图集，返回前端期望的数据格式", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["orders"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 订单.", "required": true, "type": "integer"}]}, "/orders/{id}/change_status/": {"post": {"operationId": "orders_change_status", "description": "更改订单状态", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Order"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Order"}}}, "tags": ["orders"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 订单.", "required": true, "type": "integer"}]}, "/production/batches/": {"get": {"operationId": "production_batches_list", "description": "生产批次视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Batch"}}}}, "tags": ["production"]}, "post": {"operationId": "production_batches_create", "description": "生产批次视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Batch"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Batch"}}}, "tags": ["production"]}, "parameters": []}, "/production/batches/{id}/": {"get": {"operationId": "production_batches_read", "description": "生产批次视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Batch"}}}, "tags": ["production"]}, "put": {"operationId": "production_batches_update", "description": "生产批次视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Batch"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Batch"}}}, "tags": ["production"]}, "patch": {"operationId": "production_batches_partial_update", "description": "生产批次视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Batch"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Batch"}}}, "tags": ["production"]}, "delete": {"operationId": "production_batches_delete", "description": "生产批次视图集", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["production"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 生产批次.", "required": true, "type": "integer"}]}, "/production/batches/{id}/record_quality_check/": {"post": {"operationId": "production_batches_record_quality_check", "description": "记录质检结果", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Batch"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Batch"}}}, "tags": ["production"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 生产批次.", "required": true, "type": "integer"}]}, "/production/batches/{id}/update_status/": {"post": {"operationId": "production_batches_update_status", "description": "更新批次状态", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Batch"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Batch"}}}, "tags": ["production"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 生产批次.", "required": true, "type": "integer"}]}, "/production/cutting-tasks/": {"get": {"operationId": "production_cutting-tasks_list", "description": "裁剪任务视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/CuttingTask"}}}}, "tags": ["production"]}, "post": {"operationId": "production_cutting-tasks_create", "description": "裁剪任务视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CuttingTask"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CuttingTask"}}}, "tags": ["production"]}, "parameters": []}, "/production/cutting-tasks/{id}/": {"get": {"operationId": "production_cutting-tasks_read", "description": "裁剪任务视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CuttingTask"}}}, "tags": ["production"]}, "put": {"operationId": "production_cutting-tasks_update", "description": "裁剪任务视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CuttingTask"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CuttingTask"}}}, "tags": ["production"]}, "patch": {"operationId": "production_cutting-tasks_partial_update", "description": "裁剪任务视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CuttingTask"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CuttingTask"}}}, "tags": ["production"]}, "delete": {"operationId": "production_cutting-tasks_delete", "description": "裁剪任务视图集", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["production"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 裁剪任务.", "required": true, "type": "integer"}]}, "/production/cutting-tasks/{id}/complete_task/": {"post": {"operationId": "production_cutting-tasks_complete_task", "description": "完成任务", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CuttingTask"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CuttingTask"}}}, "tags": ["production"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 裁剪任务.", "required": true, "type": "integer"}]}, "/production/cutting-tasks/{id}/start_task/": {"post": {"operationId": "production_cutting-tasks_start_task", "description": "开始任务", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CuttingTask"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CuttingTask"}}}, "tags": ["production"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 裁剪任务.", "required": true, "type": "integer"}]}, "/production/cutting/results/": {"post": {"operationId": "production_cutting_results_create", "description": "裁剪结果记录视图\n用于记录裁剪结果，计算实际面料利用率，记录裁剪问题", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["production"]}, "parameters": []}, "/production/cutting/tasks/": {"post": {"operationId": "production_cutting_tasks_create", "description": "裁剪任务创建视图\n用于创建裁剪任务，分配面料，生成裁剪图纸", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["production"]}, "parameters": []}, "/production/exceptions/": {"get": {"operationId": "production_exceptions_list", "description": "生产异常视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ProductionException"}}}}, "tags": ["production"]}, "post": {"operationId": "production_exceptions_create", "description": "生产异常视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProductionException"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ProductionException"}}}, "tags": ["production"]}, "parameters": []}, "/production/exceptions/{id}/": {"get": {"operationId": "production_exceptions_read", "description": "生产异常视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProductionException"}}}, "tags": ["production"]}, "put": {"operationId": "production_exceptions_update", "description": "生产异常视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProductionException"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProductionException"}}}, "tags": ["production"]}, "patch": {"operationId": "production_exceptions_partial_update", "description": "生产异常视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProductionException"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProductionException"}}}, "tags": ["production"]}, "delete": {"operationId": "production_exceptions_delete", "description": "生产异常视图集", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["production"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 生产异常.", "required": true, "type": "integer"}]}, "/production/exceptions/{id}/handling/": {"post": {"operationId": "production_exceptions_handling_create", "description": "异常处理视图\n用于记录异常处理方案，更新异常状态，评估处理结果", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["production"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/production/exceptions/{id}/resolve_exception/": {"post": {"operationId": "production_exceptions_resolve_exception", "description": "解决异常", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProductionException"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ProductionException"}}}, "tags": ["production"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 生产异常.", "required": true, "type": "integer"}]}, "/production/orders/": {"get": {"operationId": "production_orders_list", "description": "获取订单列表，支持前端所需的参数", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Order"}}}}, "tags": ["production"]}, "post": {"operationId": "production_orders_create", "description": "订单管理视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Order"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Order"}}}, "tags": ["production"]}, "parameters": []}, "/production/orders/statistics/": {"get": {"operationId": "production_orders_statistics", "description": "获取订单统计数据", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Order"}}}}, "tags": ["production"]}, "parameters": []}, "/production/orders/{id}/": {"get": {"operationId": "production_orders_read", "description": "订单管理视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Order"}}}, "tags": ["production"]}, "put": {"operationId": "production_orders_update", "description": "订单管理视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Order"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Order"}}}, "tags": ["production"]}, "patch": {"operationId": "production_orders_partial_update", "description": "订单管理视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Order"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Order"}}}, "tags": ["production"]}, "delete": {"operationId": "production_orders_delete", "description": "订单管理视图集", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["production"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 订单.", "required": true, "type": "integer"}]}, "/production/orders/{id}/change_status/": {"post": {"operationId": "production_orders_change_status", "description": "更改订单状态", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Order"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Order"}}}, "tags": ["production"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 订单.", "required": true, "type": "integer"}]}, "/production/production-plans/": {"get": {"operationId": "production_production-plans_list", "description": "生产计划视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ProductionPlan"}}}}, "tags": ["production"]}, "post": {"operationId": "production_production-plans_create", "description": "生产计划视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProductionPlan"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ProductionPlan"}}}, "tags": ["production"]}, "parameters": []}, "/production/production-plans/{id}/": {"get": {"operationId": "production_production-plans_read", "description": "生产计划视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProductionPlan"}}}, "tags": ["production"]}, "put": {"operationId": "production_production-plans_update", "description": "生产计划视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProductionPlan"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProductionPlan"}}}, "tags": ["production"]}, "patch": {"operationId": "production_production-plans_partial_update", "description": "生产计划视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProductionPlan"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProductionPlan"}}}, "tags": ["production"]}, "delete": {"operationId": "production_production-plans_delete", "description": "生产计划视图集", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["production"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 生产计划.", "required": true, "type": "integer"}]}, "/production/production-plans/{id}/update_progress/": {"post": {"operationId": "production_production-plans_update_progress", "description": "更新生产进度", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProductionPlan"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ProductionPlan"}}}, "tags": ["production"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 生产计划.", "required": true, "type": "integer"}]}, "/production/progress/": {"get": {"operationId": "production_progress_list", "description": "生产进度视图\n提供订单和工序的进度跟踪功能", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["production"]}, "parameters": []}, "/production/progress/{process_id}/": {"put": {"operationId": "production_progress_update", "description": "进度更新视图\n提供更新工序进度的功能", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["production"]}, "parameters": [{"name": "process_id", "in": "path", "required": true, "type": "string"}]}, "/production/progress/{process_id}/issues/": {"post": {"operationId": "production_progress_issues_create", "description": "问题报告视图\n提供记录生产问题的功能", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["production"]}, "parameters": [{"name": "process_id", "in": "path", "required": true, "type": "string"}]}, "/production/resources/available/": {"get": {"operationId": "production_resources_available_resources", "description": "获取可用资源\n返回指定时间段内可用的生产资源", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ProductionPlan"}}}}, "tags": ["production"]}, "parameters": []}, "/production/schedules/": {"get": {"operationId": "production_schedules_list", "description": "生产调度视图集\n提供生产计划的管理功能", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ProductionPlan"}}}}, "tags": ["production"]}, "post": {"operationId": "production_schedules_create", "description": "生产调度视图集\n提供生产计划的管理功能", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProductionPlan"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ProductionPlan"}}}, "tags": ["production"]}, "parameters": []}, "/production/schedules/available_resources/": {"get": {"operationId": "production_schedules_available_resources", "description": "获取可用资源\n返回指定时间段内可用的生产资源", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ProductionPlan"}}}}, "tags": ["production"]}, "parameters": []}, "/production/schedules/{id}/": {"get": {"operationId": "production_schedules_read", "description": "生产调度视图集\n提供生产计划的管理功能", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProductionPlan"}}}, "tags": ["production"]}, "put": {"operationId": "production_schedules_update", "description": "生产调度视图集\n提供生产计划的管理功能", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProductionPlan"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProductionPlan"}}}, "tags": ["production"]}, "patch": {"operationId": "production_schedules_partial_update", "description": "生产调度视图集\n提供生产计划的管理功能", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ProductionPlan"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProductionPlan"}}}, "tags": ["production"]}, "delete": {"operationId": "production_schedules_delete", "description": "生产调度视图集\n提供生产计划的管理功能", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["production"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 生产计划.", "required": true, "type": "integer"}]}, "/reports/cost/procurement/": {"get": {"operationId": "reports_cost_procurement", "description": "获取采购成本报表\n统计采购成本，分析不同类别和供应商的采购金额", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["reports"]}, "parameters": []}, "/reports/cost/production/": {"get": {"operationId": "reports_cost_production", "description": "获取生产成本报表\n统计生产成本，分析物料成本、人工成本和制造费用", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["reports"]}, "parameters": []}, "/reports/cost/variance/": {"get": {"operationId": "reports_cost_variance", "description": "获取成本差异分析报表\n分析计划成本与实际成本的差异，识别成本超支原因", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["reports"]}, "parameters": []}, "/reports/inventory/consumption/": {"get": {"operationId": "reports_inventory_consumption", "description": "获取物料消耗报表\n统计物料消耗情况，支持按日、周、月分组", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["reports"]}, "parameters": []}, "/reports/inventory/statistics/": {"get": {"operationId": "reports_inventory_statistics", "description": "获取库存统计信息\n支持按不同报表类型获取库存统计数据\n参数：\n    - report_type: 报表类型 (summary, aging, category, location)\n    - warehouse_id: 仓库ID (可选)\n    - category_id: 物料类别ID (可选)", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["reports"]}, "parameters": []}, "/reports/inventory/status/": {"get": {"operationId": "reports_inventory_status", "description": "获取库存状态报表\n按类别统计库存价值", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["reports"]}, "parameters": []}, "/reports/inventory/turnover/": {"get": {"operationId": "reports_inventory_turnover", "description": "获取库存周转报表\n计算库存周转率，识别呆滞物料", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["reports"]}, "parameters": []}, "/reports/production/efficiency/": {"get": {"operationId": "reports_production_efficiency", "description": "获取生产效率报表\n计算设备利用率、人员效率等指标", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["reports"]}, "parameters": []}, "/reports/production/quality/": {"get": {"operationId": "reports_production_quality", "description": "获取生产质量报表\n计算不良率、返工率等指标", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["reports"]}, "parameters": []}, "/reports/production/statistics/": {"get": {"operationId": "reports_production_statistics", "description": "获取生产统计报表\n支持按日、周、月分组，可按车间筛选", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["reports"]}, "parameters": []}, "/reports/saved-reports/": {"get": {"operationId": "reports_saved-reports_list", "description": "保存的报表视图集\n提供保存的报表的CRUD操作", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/SavedReport"}}}}, "tags": ["reports"]}, "post": {"operationId": "reports_saved-reports_create", "description": "保存的报表视图集\n提供保存的报表的CRUD操作", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SavedReport"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/SavedReport"}}}, "tags": ["reports"]}, "parameters": []}, "/reports/saved-reports/{id}/": {"get": {"operationId": "reports_saved-reports_read", "description": "保存的报表视图集\n提供保存的报表的CRUD操作", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SavedReport"}}}, "tags": ["reports"]}, "put": {"operationId": "reports_saved-reports_update", "description": "保存的报表视图集\n提供保存的报表的CRUD操作", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SavedReport"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SavedReport"}}}, "tags": ["reports"]}, "patch": {"operationId": "reports_saved-reports_partial_update", "description": "保存的报表视图集\n提供保存的报表的CRUD操作", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SavedReport"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SavedReport"}}}, "tags": ["reports"]}, "delete": {"operationId": "reports_saved-reports_delete", "description": "保存的报表视图集\n提供保存的报表的CRUD操作", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["reports"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 保存的报表.", "required": true, "type": "integer"}]}, "/reports/templates/": {"get": {"operationId": "reports_templates_list", "description": "报表模板视图集\n提供报表模板的CRUD操作", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ReportTemplate"}}}}, "tags": ["reports"]}, "post": {"operationId": "reports_templates_create", "description": "报表模板视图集\n提供报表模板的CRUD操作", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ReportTemplate"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ReportTemplate"}}}, "tags": ["reports"]}, "parameters": []}, "/reports/templates/{id}/": {"get": {"operationId": "reports_templates_read", "description": "报表模板视图集\n提供报表模板的CRUD操作", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReportTemplate"}}}, "tags": ["reports"]}, "put": {"operationId": "reports_templates_update", "description": "报表模板视图集\n提供报表模板的CRUD操作", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ReportTemplate"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReportTemplate"}}}, "tags": ["reports"]}, "patch": {"operationId": "reports_templates_partial_update", "description": "报表模板视图集\n提供报表模板的CRUD操作", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ReportTemplate"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ReportTemplate"}}}, "tags": ["reports"]}, "delete": {"operationId": "reports_templates_delete", "description": "报表模板视图集\n提供报表模板的CRUD操作", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["reports"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 报表模板.", "required": true, "type": "integer"}]}, "/scanning/barcodes/": {"get": {"operationId": "scanning_barcodes_list", "description": "条码视图集\n提供条码的CRUD操作和自定义操作", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Barcode"}}}}, "tags": ["scanning"]}, "post": {"operationId": "scanning_barcodes_create", "description": "条码视图集\n提供条码的CRUD操作和自定义操作", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Barcode"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Barcode"}}}, "tags": ["scanning"]}, "parameters": []}, "/scanning/barcodes/generate/": {"post": {"operationId": "scanning_barcodes_generate", "description": "批量生成条码", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Barcode"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Barcode"}}}, "tags": ["scanning"]}, "parameters": []}, "/scanning/barcodes/print/": {"post": {"operationId": "scanning_barcodes_print", "description": "打印条码", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Barcode"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Barcode"}}}, "tags": ["scanning"]}, "parameters": []}, "/scanning/barcodes/{id}/": {"get": {"operationId": "scanning_barcodes_read", "description": "条码视图集\n提供条码的CRUD操作和自定义操作", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Barcode"}}}, "tags": ["scanning"]}, "put": {"operationId": "scanning_barcodes_update", "description": "条码视图集\n提供条码的CRUD操作和自定义操作", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Barcode"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Barcode"}}}, "tags": ["scanning"]}, "patch": {"operationId": "scanning_barcodes_partial_update", "description": "条码视图集\n提供条码的CRUD操作和自定义操作", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Barcode"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Barcode"}}}, "tags": ["scanning"]}, "delete": {"operationId": "scanning_barcodes_delete", "description": "条码视图集\n提供条码的CRUD操作和自定义操作", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["scanning"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 条码.", "required": true, "type": "integer"}]}, "/scanning/history/": {"get": {"operationId": "scanning_history_list", "description": "扫码历史视图集\n提供扫码历史的查询操作", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ScanningHistory"}}}}, "tags": ["scanning"]}, "parameters": []}, "/scanning/history/{id}/": {"get": {"operationId": "scanning_history_read", "description": "扫码历史视图集\n提供扫码历史的查询操作", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ScanningHistory"}}}, "tags": ["scanning"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 扫码历史.", "required": true, "type": "integer"}]}, "/scanning/material/inbound": {"post": {"operationId": "scanning_material_material_inbound", "description": "物料入库扫码", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["scanning"]}, "parameters": []}, "/scanning/material/outbound": {"post": {"operationId": "scanning_material_material_outbound", "description": "物料出库扫码", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["scanning"]}, "parameters": []}, "/scanning/production/packaging": {"post": {"operationId": "scanning_production_product_packaging", "description": "产品包装扫码", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["scanning"]}, "parameters": []}, "/scanning/production/process": {"post": {"operationId": "scanning_production_production_process", "description": "生产过程扫码", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["scanning"]}, "parameters": []}, "/scanning/recognize": {"post": {"operationId": "scanning_recognize", "description": "条码识别", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["scanning"]}, "parameters": []}, "/search/": {"get": {"operationId": "search_list", "description": "全局搜索视图\n提供跨模块数据搜索功能", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["search"]}, "parameters": []}, "/search/advanced/": {"post": {"operationId": "search_advanced_create", "description": "高级搜索视图\n提供复杂的搜索条件组合功能", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["search"]}, "parameters": []}, "/search/suggestions/": {"get": {"operationId": "search_suggestions_list", "description": "搜索建议视图\n提供搜索建议功能", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["search"]}, "parameters": []}, "/settlement/bills/": {"get": {"operationId": "settlement_bills_list", "description": "结算单视图集\n提供结算单的CRUD操作和自定义操作", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/settlement.SettlementBillListSerializer"}}}}, "tags": ["settlement"]}, "post": {"operationId": "settlement_bills_create", "description": "结算单视图集\n提供结算单的CRUD操作和自定义操作", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/settlement.SettlementBillCreateSerializer"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/settlement.SettlementBillCreateSerializer"}}}, "tags": ["settlement"]}, "parameters": []}, "/settlement/bills/{id}/": {"get": {"operationId": "settlement_bills_read", "description": "结算单视图集\n提供结算单的CRUD操作和自定义操作", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/settlement.SettlementBillDetailSerializer"}}}, "tags": ["settlement"]}, "put": {"operationId": "settlement_bills_update", "description": "结算单视图集\n提供结算单的CRUD操作和自定义操作", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/settlement.SettlementBillUpdateSerializer"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/settlement.SettlementBillUpdateSerializer"}}}, "tags": ["settlement"]}, "patch": {"operationId": "settlement_bills_partial_update", "description": "结算单视图集\n提供结算单的CRUD操作和自定义操作", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/settlement.SettlementBillUpdateSerializer"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/settlement.SettlementBillUpdateSerializer"}}}, "tags": ["settlement"]}, "delete": {"operationId": "settlement_bills_delete", "description": "结算单视图集\n提供结算单的CRUD操作和自定义操作", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["settlement"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 结算单.", "required": true, "type": "integer"}]}, "/settlement/bills/{id}/approve/": {"post": {"operationId": "settlement_bills_approve", "description": "审批结算单", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/settlement.SettlementBillDetailSerializer"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/settlement.SettlementBillDetailSerializer"}}}, "tags": ["settlement"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 结算单.", "required": true, "type": "integer"}]}, "/settlement/bills/{id}/payment/": {"post": {"operationId": "settlement_bills_payment", "description": "记录付款信息", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/settlement.SettlementBillDetailSerializer"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/settlement.SettlementBillDetailSerializer"}}}, "tags": ["settlement"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 结算单.", "required": true, "type": "integer"}]}, "/settlement/bills/{id}/submit/": {"post": {"operationId": "settlement_bills_submit", "description": "提交结算单进入审批流程", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/settlement.SettlementBillDetailSerializer"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/settlement.SettlementBillDetailSerializer"}}}, "tags": ["settlement"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 结算单.", "required": true, "type": "integer"}]}, "/settlement/reconciliations/": {"get": {"operationId": "settlement_reconciliations_list", "description": "对账单视图集\n提供对账单的CRUD操作和自定义操作", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/settlement.ReconciliationListSerializer"}}}}, "tags": ["settlement"]}, "post": {"operationId": "settlement_reconciliations_create", "description": "对账单视图集\n提供对账单的CRUD操作和自定义操作", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/settlement.ReconciliationCreateSerializer"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/settlement.ReconciliationCreateSerializer"}}}, "tags": ["settlement"]}, "parameters": []}, "/settlement/reconciliations/{id}/": {"get": {"operationId": "settlement_reconciliations_read", "description": "对账单视图集\n提供对账单的CRUD操作和自定义操作", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/settlement.ReconciliationDetailSerializer"}}}, "tags": ["settlement"]}, "put": {"operationId": "settlement_reconciliations_update", "description": "对账单视图集\n提供对账单的CRUD操作和自定义操作", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/settlement.ReconciliationDetailSerializer"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/settlement.ReconciliationDetailSerializer"}}}, "tags": ["settlement"]}, "patch": {"operationId": "settlement_reconciliations_partial_update", "description": "对账单视图集\n提供对账单的CRUD操作和自定义操作", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/settlement.ReconciliationDetailSerializer"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/settlement.ReconciliationDetailSerializer"}}}, "tags": ["settlement"]}, "delete": {"operationId": "settlement_reconciliations_delete", "description": "对账单视图集\n提供对账单的CRUD操作和自定义操作", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["settlement"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 对账单.", "required": true, "type": "integer"}]}, "/settlement/reconciliations/{id}/confirm/": {"post": {"operationId": "settlement_reconciliations_confirm", "description": "确认对账单", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/settlement.ReconciliationDetailSerializer"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/settlement.ReconciliationDetailSerializer"}}}, "tags": ["settlement"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 对账单.", "required": true, "type": "integer"}]}, "/settlement/reconciliations/{id}/export/": {"get": {"operationId": "settlement_reconciliations_export", "description": "导出对账单", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/settlement.ReconciliationDetailSerializer"}}}, "tags": ["settlement"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 对账单.", "required": true, "type": "integer"}]}, "/supplier/contracts/": {"get": {"operationId": "supplier_contracts_list", "description": "供应商合同视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/SupplierContract"}}}}, "tags": ["supplier"]}, "post": {"operationId": "supplier_contracts_create", "description": "供应商合同视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SupplierContract"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/SupplierContract"}}}, "tags": ["supplier"]}, "parameters": []}, "/supplier/contracts/{id}/": {"get": {"operationId": "supplier_contracts_read", "description": "供应商合同视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SupplierContract"}}}, "tags": ["supplier"]}, "put": {"operationId": "supplier_contracts_update", "description": "供应商合同视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SupplierContract"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SupplierContract"}}}, "tags": ["supplier"]}, "patch": {"operationId": "supplier_contracts_partial_update", "description": "供应商合同视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SupplierContract"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SupplierContract"}}}, "tags": ["supplier"]}, "delete": {"operationId": "supplier_contracts_delete", "description": "供应商合同视图集", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["supplier"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 供应商合同.", "required": true, "type": "integer"}]}, "/supplier/contracts/{id}/activate_contract/": {"post": {"operationId": "supplier_contracts_activate_contract", "description": "激活合同", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SupplierContract"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/SupplierContract"}}}, "tags": ["supplier"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 供应商合同.", "required": true, "type": "integer"}]}, "/supplier/performances/": {"get": {"operationId": "supplier_performances_list", "description": "供应商绩效评估视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/SupplierPerformance"}}}}, "tags": ["supplier"]}, "post": {"operationId": "supplier_performances_create", "description": "供应商绩效评估视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SupplierPerformance"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/SupplierPerformance"}}}, "tags": ["supplier"]}, "parameters": []}, "/supplier/performances/{id}/": {"get": {"operationId": "supplier_performances_read", "description": "供应商绩效评估视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SupplierPerformance"}}}, "tags": ["supplier"]}, "put": {"operationId": "supplier_performances_update", "description": "供应商绩效评估视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SupplierPerformance"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SupplierPerformance"}}}, "tags": ["supplier"]}, "patch": {"operationId": "supplier_performances_partial_update", "description": "供应商绩效评估视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SupplierPerformance"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SupplierPerformance"}}}, "tags": ["supplier"]}, "delete": {"operationId": "supplier_performances_delete", "description": "供应商绩效评估视图集", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["supplier"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 供应商绩效.", "required": true, "type": "integer"}]}, "/supplier/suppliers/": {"get": {"operationId": "supplier_suppliers_list", "description": "供应商管理视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Supplier"}}}}, "tags": ["supplier"]}, "post": {"operationId": "supplier_suppliers_create", "description": "供应商管理视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Supplier"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Supplier"}}}, "tags": ["supplier"]}, "parameters": []}, "/supplier/suppliers/{id}/": {"get": {"operationId": "supplier_suppliers_read", "description": "供应商管理视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Supplier"}}}, "tags": ["supplier"]}, "put": {"operationId": "supplier_suppliers_update", "description": "供应商管理视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Supplier"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Supplier"}}}, "tags": ["supplier"]}, "patch": {"operationId": "supplier_suppliers_partial_update", "description": "供应商管理视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Supplier"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Supplier"}}}, "tags": ["supplier"]}, "delete": {"operationId": "supplier_suppliers_delete", "description": "供应商管理视图集", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["supplier"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 供应商.", "required": true, "type": "integer"}]}, "/supplier/suppliers/{id}/change_status/": {"post": {"operationId": "supplier_suppliers_change_status", "description": "更改供应商状态", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Supplier"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Supplier"}}}, "tags": ["supplier"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 供应商.", "required": true, "type": "integer"}]}, "/system/logs/": {"get": {"operationId": "system_logs_list", "description": "操作日志视图集\n提供日志查询和导出功能", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/OperationLog"}}}}, "tags": ["system"]}, "parameters": []}, "/system/logs/export/": {"get": {"operationId": "system_logs_export", "description": "导出日志\n支持CSV和JSON格式导出", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/OperationLog"}}}}, "tags": ["system"]}, "parameters": []}, "/system/logs/{id}/": {"get": {"operationId": "system_logs_read", "description": "操作日志视图集\n提供日志查询和导出功能", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/OperationLog"}}}, "tags": ["system"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 操作日志.", "required": true, "type": "integer"}]}, "/system/metrics/": {"get": {"operationId": "system_metrics_list", "summary": "Prometheus指标导出视图", "description": "提供Prometheus监控指标的导出接口，用于监控系统运行状态", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["system"]}, "parameters": []}, "/system/notices/": {"get": {"operationId": "system_notices_list", "description": "重写list方法，返回前端期望的数据格式", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Notice"}}}}, "tags": ["system"]}, "post": {"operationId": "system_notices_create", "description": "系统公告视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Notice"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Notice"}}}, "tags": ["system"]}, "parameters": []}, "/system/notices/active/": {"get": {"operationId": "system_notices_active", "description": "获取当前有效的公告（已发布且未过期）", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Notice"}}}}, "tags": ["system"]}, "parameters": []}, "/system/notices/unread/": {"get": {"operationId": "system_notices_unread", "description": "获取用户未读公告", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Notice"}}}}, "tags": ["system"]}, "parameters": []}, "/system/notices/{id}/": {"get": {"operationId": "system_notices_read", "description": "系统公告视图集", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Notice"}}}, "tags": ["system"]}, "put": {"operationId": "system_notices_update", "description": "系统公告视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Notice"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Notice"}}}, "tags": ["system"]}, "patch": {"operationId": "system_notices_partial_update", "description": "系统公告视图集", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Notice"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Notice"}}}, "tags": ["system"]}, "delete": {"operationId": "system_notices_delete", "description": "系统公告视图集", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["system"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this 系统公告.", "required": true, "type": "integer"}]}, "/system/notices/{id}/mark_as_read/": {"post": {"operationId": "system_notices_mark_as_read", "description": "标记公告为已读", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Notice"}}], "responses": {"201": {"description": "", "schema": {
[...]
